[submodule "telegram-service"]
	path = telegram-service
	url = https://github.com/Mantineo-Massimo/telegram-service.git
[submodule "schedule-service"]
	path = schedule-service
	url = https://github.com/Mantineo-Massimo/schedule-service.git
[submodule "floorplan-service"]
	path = floorplan-service
	url = https://github.com/Mantineo-Massimo/floorplan-service.git
[submodule "wayfinding-service"]
	path = wayfinding-service
	url = https://github.com/Mantineo-Massimo/wayfinding-service.git